/*
    KH정보교육원 세미 프로젝트 4조 

    만든이 - 장서윤
    만든날짜 - 2024.03.11
*/
@charset "UTF-8";

/* 전체 선택자 - 모든 태그에 설정(전체 규칙) */
* {
    box-sizing: border-box;
    word-break: break-all;
    font-family: "Noto Sans KR", sans-serif;
}

/* 
    컨테이너(.container)
*/
.container {
    margin-left: auto;
    margin-right: auto;
}

/*
    셀(.cell)
*/
.cell {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
    폭 스타일
    - 컨테이너와 컴포넌트 등 다양한 상황에 쓸 수 있는 폭을 미리 정의
    - 최저 200px부터 최고 1200px까지 50px단위로 제작
    - 100 이하의 숫자는 %로 인식하도록 구현
*/
.w-200 { width: 200px; }
.w-250 { width: 250px; }
.w-300 { width: 300px; }
.w-350 { width: 350px; }
.w-400 { width: 400px; }
.w-450 { width: 450px; }
.w-500 { width: 500px; }
.w-550 { width: 550px; }
.w-600 { width: 600px; }
.w-650 { width: 650px; }
.w-700 { width: 700px; }
.w-750 { width: 750px; }
.w-800 { width: 800px; }
.w-850 { width: 850px; }
.w-900 { width: 900px; }
.w-950 { width: 950px; }
.w-1000 { width: 1000px; }
.w-1050 { width: 1050px; }
.w-1100 { width: 1100px; }
.w-1150 { width: 1150px; }
.w-1200 { width: 1200px; }

.w-100 { width:100%; }
.w-90 { width: 90%; }
.w-75 { width:75%; }
.w-50 { width:50%; }
.w-33 { width:33.3333%; }
.w-25 { width:25%; }
.w-20 { width:20%; }
.w-10 { width: 10%; }

/*
    입력창과 버튼 스타일
    - 입력창 - .tool
    - 버튼 - .btn
*/
.tool , .btn {
    font-size: 16px;
    padding: 0.5em 1em;
    outline: none;/*선택시 자동강조효과 제거*/
    border: 1px solid #636e72;
    border-radius: 0.1em;
}

/* QNA REVIEW 작성창 */
.wTool { 
    font-size: 16px;
    padding: 0.5em 1em;
    outline: none;/*선택시 자동강조효과 제거*/
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0.1em;
}

/* 입력창은 focus 효과가 발생할 때 테두리를 강조 */
.tool:focus {
    border-color: #2d3436;
}

/*
    textarea
*/
textarea.tool {
    resize: vertical;
    min-height: 5em; /* 필요 시 개조 */
}
textarea.tool.tool-fixed {
    resize: none;
}

/*
    버튼
*/

.btn {
    color: #2d3436;
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btn.positive {
    background-color: #18ce45;
    color: #2D3436;
}
.btn.negative {
    background-color: #db4444;
    color: white;
}
.btn.delete {
    background-color: white;
    color: #db4444;
}

/* 버튼에 마우스가 올라가면 밝기 90%*/
.btn:hover {
    filter: brightness(0.9);
}


/*
    정렬 스타일
*/
.left { text-align: left !important; }
.center { text-align: center !important; }
.right { text-align: right !important; }

/*
    여백 스타일
*/

.m-0 { margin: 0px !important; }
.m-10 { margin: 10px !important; }
.m-20 { margin: 20px !important; }
.m-30 { margin: 30px !important; }
.m-40 { margin: 40px !important; }
.m-50 { margin: 50px !important; }

.mt-0 { margin-top: 0px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }

.mb-0 { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }

.ms-0 { margin-left: 0px !important; }
.ms-10 { margin-left: 10px !important; }
.ms-20 { margin-left: 20px !important; }
.ms-30 { margin-left: 30px !important; }
.ms-40 { margin-left: 40px !important; }
.ms-50 { margin-left: 50px !important; }

.me-0 { margin-right: 0px !important; }
.me-10 { margin-right: 10px !important; }
.me-20 { margin-right: 20px !important; }
.me-30 { margin-right: 30px !important; }
.me-40 { margin-right: 40px !important; }
.me-50 { margin-right: 50px !important; }

.mx-0 { margin-left:0px !important; margin-right: 0px !important; }
.mx-10 { margin-left:10px !important; margin-right: 10px !important; }
.mx-20 { margin-left:20px !important; margin-right: 20px !important; }
.mx-30 { margin-left:30px !important; margin-right: 30px !important; }
.mx-40 { margin-left:40px !important; margin-right: 40px !important; }
.mx-50 { margin-left:50px !important; margin-right: 50px !important; }

.my-0 { margin-top:0px !important; margin-bottom: 0px !important; }
.my-10 { margin-top:10px !important; margin-bottom: 10px !important; }
.my-20 { margin-top:20px !important; margin-bottom: 20px !important; }
.my-30 { margin-top:30px !important; margin-bottom: 30px !important; }
.my-40 { margin-top:40px !important; margin-bottom: 40px !important; }
.my-50 { margin-top:50px !important; margin-bottom: 50px !important; }


.p-0 { padding: 0px !important; }
.p-10 { padding: 10px !important; }
.p-20 { padding: 20px !important; }
.p-30 { padding: 30px !important; }
.p-40 { padding: 40px !important; }
.p-50 { padding: 50px !important; }

.pt-0 { padding-top: 0px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-50 { padding-top: 50px !important; }

.pb-0 { padding-bottom: 0px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-50 { padding-bottom: 50px !important; }

.ps-0 { padding-left: 0px !important; }
.ps-10 { padding-left: 10px !important; }
.ps-20 { padding-left: 20px !important; }
.ps-30 { padding-left: 30px !important; }
.ps-40 { padding-left: 40px !important; }
.ps-50 { padding-left: 50px !important; }

.pe-0 { padding-right: 0px !important; }
.pe-10 { padding-right: 10px !important; }
.pe-20 { padding-right: 20px !important; }
.pe-30 { padding-right: 30px !important; }
.pe-40 { padding-right: 40px !important; }
.pe-50 { padding-right: 50px !important; }

.px-0 { padding-left:0px !important; padding-right: 0px !important; }
.px-10 { padding-left:10px !important; padding-right: 10px !important; }
.px-20 { padding-left:20px !important; padding-right: 20px !important; }
.px-30 { padding-left:30px !important; padding-right: 30px !important; }
.px-40 { padding-left:40px !important; padding-right: 40px !important; }
.px-50 { padding-left:50px !important; padding-right: 50px !important; }

.py-0 { padding-top:0px !important; padding-bottom: 0px !important; }
.py-10 { padding-top:10px !important; padding-bottom: 10px !important; }
.py-20 { padding-top:20px !important; padding-bottom: 20px !important; }
.py-30 { padding-top:30px !important; padding-bottom: 30px !important; }
.py-40 { padding-top:40px !important; padding-bottom: 40px !important; }
.py-50 { padding-top:50px !important; padding-bottom: 50px !important; }


/*
    테이블 디자인
    - table이라는 클래스가 붙는 경우만 디자인하도록 설계
    - table은 전체와 칸에 테두리가 따로 적용된다(나눠져있다, seperate)
*/
.table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

/*
    .table 안에 있는 td와 th에만 디자인을 적용하는 방법
    (1) 후손 선택자
        - .table th 라고 작성하면 .table 안에있는 모든 th를 선택
        - .table td 라고 작성하면 .table 안에 있는 모든 td를 선택
        - 작성이 편하지만 테이블이 중첩되면 문제가 생김(범용성↓)
    (2) 자식 선택자
        - .table > tbody > tr > td 라고 작성하면 순서대로 따라가서 나오는 td를 선택
        - 작성이 까다롭지만 정확한 대상을 지정할 수 있음(범용성↑)
*/
.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
    text-align: center;
    padding: 0.25em;
}

/*
    테이블 확장 스타일 - 테두리가 있는 테이블
*/
.table.table-border>thead>tr>th,
.table.table-border>thead>tr>td,
.table.table-border>tbody>tr>th,
.table.table-border>tbody>tr>td,
.table.table-border>tfoot>tr>th,
.table.table-border>tfoot>tr>td {
    border: 1px solid #2d3436;
}

/*
    테이블 확장 스타일 - 줄무늬 테이블
    - 제목줄에 배경을 설정하고 내용은 짝수줄만 배경 설정
    - 제목줄에 배경을 설정하지 않고 내용은 홀수줄만 배경 설정
*/
.table.table-stripe>thead>tr,
.table.table-stripe>tbody>tr:nth-child(2n) {
    background-color: #b2bec3;
}

/*
    테이블 확장 스타일 - 마우스 반응 테이블
    - 제목은 제외한 내용 줄만 마우스가 올라가면 색상이 변하도록 구현
*/
.table.table-hover>tbody>tr:hover {
    background-color: #b2bec3;
}

/*
    테이블 확장 스타일 - 가로줄무늬 테이블
*/
.table.table-horizontal {
    border-top: 1px solid #2d3436;
    border-bottom: 1px solid #2d3436;
}

.table.table-horizontal>thead {
    border-bottom: 1px solid #2d3436;
}

.table.table-horizontal>tfoot {
    border-top: 1px solid #2d3436;
}

/* :not() 을 이용하여 특정 대상을 선택에서 제거할 수 있다 */
.table.table-horizontal>tbody>tr:not(tr:last-child) {
    border-bottom: 1px solid #b2bec3;
}


/*
    테이블 확장 스타일 - 세로줄무늬 테이블
*/

.table.table-vertical {
    border-collapse: collapse;
   /* width: 50%*/; /* 테이블 너비 조정*/
    margin: auto; /* 가운데 정렬 */
}

/* th, td에 대한 스타일을 재설정 */
.table.table-vertical th,
.table.table-vertical td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table.table-vertical th {
    background-color: #f2f2f2;
}

/*
    링크 디자인
*/
.link {
    text-decoration: none;
    display: inline-block;
    color: #2D3436;
}
.link:hover {
    color: #0984e3; 
    cursor: pointer;
}

.link.link-animation {
    /* 
        transition을 통해 특정 속성의 변화 속도를 지정 
        - transition : 적용항목 변화시간 변화방식;
        - 변화방식은 크게 세 가지로 구분
            - linear : 변화속도가 일정한 것
            - ease-in, ease-out, ease-in-out은 시작과 끝을 부드럽게
                - ease-in은 시작을 부드럽게
                - ease-out은 끝을 부드럽게
                - ease-in-out은 시작과 끝을 모두 부드럽게
    */
    /* transition: transform 0.2s ease-out; */
    transition-property: transform, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.link.link-animation:hover {
    /* 
        애니메이션 효과 추가
        - display:inline 에서는 불가능
        - transform 속성을 통해 원하는 작업을 부여
        - transition 속성을 통해 움직임 정도를 구현
    */
    transform: scale(1.05);
}

/*
    페이지 네비게이터 디자인
*/
.page-navigator {
    text-align: center;
    font-size: 16px;
}
.page-navigator.page-navigator-small {
    font-size: 12px;
}
.page-navigator.page-navigator-large {
    font-size: 20px;
}

.page-navigator > a {
    display: inline-block;
    color: #2d3436;
    text-decoration: none;
/*     border: 1px solid #2d3436; */
	border: 1px solid transparent;
    padding: 0.5em;
    font-size: inherit;
    min-width: 2.5em;
}

/*
    현재 페이지에 해당하는 번호에는 활성화 클래스인 on을 추가한다
    단, off인 경우는 hover에서 제외한다
*/
.page-navigator > a.on ,
.page-navigator > a:not(.off):hover
{
    color: #0984e3;
    border-color: #0984e3;
}

/* off 클래스에 대한 효과 추가 */
.page-navigator > a.off {
	color: #b2bec3;
	cursor: not-allowed;
}

/* 이미지 디자인 */
.image-circle {
    border-radius: 50%;
}
.image-round {
    border-radius: 5px;
}
.image-grayscale {
    filter:grayscale(100%);
}
.image-blur {
    opacity: 0.5; /*불투명도 - 1(100%), 0(0%) */
    transition: opacity 0.1s linear;
}
.image-blur.hover:hover {
    opacity: 1;
}
.image-shadow {
    /* box-shadow : x위치 y위치 번짐 확대 색상; */
    box-shadow: 5px 5px 0 0 #2d3436;
}
.image-lift {
    box-shadow: 0 0 2px 1px #2d3436;
}

/*
    relative를 이용한 디자인
*/
.effect-lift {
    position: relative;
    z-index: 99;
    transition: bottom 0.1s ease-out; 
    bottom: 0px;
}
.effect-lift:hover {
    bottom: 2px;
}

.effect-shake {
    position: relative;
    z-index: 99;
}
.effect-shake:hover {
    /* animation : 애니메이션이름 타이밍 실행시간 반복횟수 [기타옵션] */
    animation: shake linear 0.25s infinite;
}

/* 움직임에 대한 상세한 시나리오 작성 */
@keyframes shake {
    0% { left: 0px; }
    25% { left: -1px; }
    50% { left: 0px; }
    75% { left: 1px; }
    100% { left: 0px; }
}

/*
    화면 위의 화면(overlay) 디자인
    뒤가 비치게 만드는 방법은 두 가지가 있다
    (1) 불투명도(opacity) 조절 - 내용물도 영향을 받는다
    (2) 배경색에 알파(alpha) 조절 - rgba 사용
*/
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
}
.overlay > .container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
}

/*
    오버레이 안에 배치되는 .component는 한가운데 위치하도록 구현
    가운데 배치하는 방법도 여러 가지가 있다
    (1) top, left, margin을 사용하는 방법
    (2) top, left, transform을 사용하는 방법
*/
.overlay > .component {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/*  
    글자 색상 디자인
*/
.red { color: #d63031 !important; }
.orange { color: #fdcb6e !important;}
.yellow { color: #ffeaa7 !important;}
.green { color: #00b894 !important;}
.skyblue { color: #74b9ff !important;}
.blue {color: #0984e3 !important;}
.purple {color: #6c5ce7 !important;}
.black {color: #2d3436 !important;}
.gray {color: #636e72 !important;}
.white {color: white !important;}

/* 
    텍스트 한줄 + 말줄임표 스타일
    다음 세 개의 스타일을 같이 사용하면 말줄임표 처리가 된다
    단, 반드시 영역에 폭이 설정되어 있어야 한다
*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 바 구분선*/
.contour li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    /* 조절해서 원하는 간격 설정 */
    height: 8px;
    /* 구분선의 높이 조절 */
    width: 1px;
    /* 구분선의 너비 조절 */
    background-color: #918b8b;
    /* 연한 회색 */
    transform: translateY(-50%);
}
/* 마지막 요소에는 구분선이 필요 없으므로 마지막 요소에 대한 스타일을 재정의*/
.contour li:last-child::after {
    display: none;
}
/* 상단 배송대행 주소 구분선*/
.nation::after {
	content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    /* 조절해서 원하는 간격 설정 */
    height: 70px;
    /* 구분선의 높이 조절 */
    width: 1px;
    /* 구분선의 너비 조절 */
    background-color: #d8d8d8;
    /* 연한 회색 */
    transform: translateY(-50%);
}
.nation:last-child::after {
	display: none;
}
.nation-text {
	font-size: 14px;
	color: #2D3436 !important;
}
/* 메뉴 안에 있는 모든 ul 태그에 대한 디자인 초기화 */
.menu, 
.menu ul {
    list-style: none; /*list에 표기되는 모양 제거 */
    margin: 0 10px; /* 기본 여백 제거 */
    padding: 0; /* 기본 여백 제거 */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu a, .head a {
    color: inherit; /* 글자색상은 외부상태를 따라가겠다 */
    text-decoration: none; /* 밑줄을 제거하겠다 */
    display: inline-block; /* 크기 설정이 가능하도록 변경 */
}

/* 1차 메뉴(.menu > li)를 가로로 배치 */
.menu > li {
    margin: 0 10px;
}

/*
    li끼리는 연관배치, ul은 절대배치
*/
.menu li {
    position: relative;
}
.menu li > ul {
    position: absolute;
}

/*
    메뉴의 글자크기와 폭을 지정
*/
.menu,
.menu ul {
    background-color: #ffffff;
}
.menu li {
    font-size: 16px;
    width: 200px;
    color: #2D3436;
    padding: 0.5em;
    text-align: center;
}
/* 2차 이상의 메뉴(.menu li > ul)를 숨김 처리 */
.menu li > ul {
    display:none;
}

/* 
    모든 메뉴(.menu li)에 
    마우스가 올라가면(:hover) 
    하위 메뉴(ul)를 표시하도록 처리 
*/
.menu li:hover > ul {
    display: block; 
}

/* 모든 메뉴에 마우스가 올라가면 강조 표시 */
/* .menu li:hover {
    background-color: #636e72;
} */

/* 2차 메뉴(ul)의 위치를 미세조정 */
.menu > li > ul {
    top:100%;
    left: 0;
}
/* 3차 이상의 메뉴(ul)의 위치를 미세조정 */
.menu > li > ul > li ul {
    top: 0;
    left: 100%;
}

/* 혹시 메뉴에 글자가 많아서 넘어가는 경우를 말줄임표 처리 */
/* .menu a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* menu-end 클래스가 붙은 메뉴 한 개만큼은 우측으로 붙여서 처리 */
.menu {
    /* 메뉴를 원하는 위치에 배치하고 싶다면 */
    position: relative;

    /* 메뉴를 상단에 고정하고 싶다면 */
    /*
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    */
}
.menu li.menu-end {
    position: absolute;
    top: 0;
    right: 0;
}

/* 우측 메뉴는 3차 이상의 메뉴가 왼쪽에 나오도록 처리 */
.menu > li.menu-end > ul > li ul {
    top: 0;
    left: auto;
    right: 100%;
}

/* 
    float 모듈 디자인
    - float를 사용하고 싶다면 div에 floating-cell이라는 클래스를 부여
    - 영역이 끝나는 시점에 자동으로 clear를 수행하도록 디자인
    - 가상 선택자인 ::after를 사용하여 강제 영역 생성 후 clear 수행
*/
.floating-cell::after {
    content: ""; /* 태그 종료 시점의 가상영역을 생성하고 */
    display: block; /* div처럼 block 상태로 만들고 */
    clear: both; /* 사용한 float 속성을 모두 제거 */
}
/* floating-cell 내부의 항목들은 모두 float:left 처리 */
.floating-cell > * {
    float: left;
}
.floating-cell.reverse > * {
    float: right;
}


/* flex layout 디자인 */        
.flex-cell {
    display: flex;
}
.flex-cell > .width-fill {
    flex-grow: 1;
}
.flex-cell.auto-width > * {
    flex-grow: 1;
}
.flex-cell.vertical {
    flex-direction: column;
}

.flex-cell.middle {
    justify-content: center;
    align-items: center;
}

/* 
    입력창 피드백 디자인 
    - 입력창 뒤에 피드백 영역이 있다면 판정 결과에 따라 표시되도록 구현
*/
.tool.success {
    border-color: #1FD355 !important;
}
.tool.fail, .tool.fail2, .tool.fail3 {
    border-color: #D41616 !important;
}
.success-feedback {
    color: #1FD355;
    display: none;
}
.fail-feedback, 
.fail2-feedback,
.fail3-feedback
{
    color: #D41616;
    display: none;
}

.tool.success ~ .success-feedback,
.tool.fail ~ .fail-feedback,
.tool.fail2 ~ .fail2-feedback,
.tool.fail3 ~ .fail3-feedback 
{ 
    display: block; 
}

/* 진행바 디자인(차후 수정 예정)*/
/* .progressbar {
    box-shadow: 0 0 1px 0 #000000;
}
.progressbar > .guage {
    width: 0;
    height: 5px;
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(253,234,29,1) 50%, rgba(93,252,69,1) 100%);
    transition: width 0.1s linear;
    border: 1px solid none;
    border-radius: 5px;
} */

/* select 디자인 업그레이드*/
.select2-selection__rendered {
	line-height: 31px !important;
}
.select2-container .select2-selection--single {
	height: 35px !important;
}
.select2-selection__arrow {
	height: 34px !important;
}
/* select width(글자 크기에 따라 수정하여 사용)*/
.searchSelect {
	width: 120px;
}
/* searchSelect와 크기 맞추기 위해서 사용*/
.searchBar {
	font-size: 16px;
	height: 35px;
	padding: none;
	vertical-align: middle;
}
/* searchSelect와 크기 맞추기 위해서 사용*/
.searchBtn {
	height: 35px;
	line-height: 0px;
	vertical-align: middle;
	text-align: center;
}

/* 가장 외곽 컨테이너*/
.container.container-body{
	width: 1140px;
}
.container.container-body.container-body-long {
	width: 1570px
}
/* ul 타입(분류)*/
.menu.menu-type {
	background-color: #F1F3F5;
	border-bottom: 1px solid #2D3436;
	border-top: 1px solid #2D3436;
}
/* ul 리스트(내용)*/
.menu.menu-list {
	border-bottom: 1px solid #DEE2E6;
}


/* flex container*/
  .container.flex-container {
    display: flex;
}

/* flex container 비율 설정*/
.flex-container>.container:nth-child(1) {
    width: 20%;
}

.flex-container>.container:nth-child(2) {
    width: 80%;
}
.container-body-long>.flex-container>.inner-container:nth-child(1) {
	width: 15%;
}
.container-body-long>.flex-container>.inner-container:nth-child(2) {
	width: 85%;
}

/* 요소 컨테이너 padding설정*/
.container.inner-container {
    padding: 20px;
}

/* title head */
.title.title-head {
    border-top: 2px solid #2D3436;
    border-bottom: 1px solid #2D3436;
}

/* title head 텍스트*/
.title-head-text {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

/* title body*/
/* 메인 내용*/
.title-body-main {
    text-align: left;
    font-size: 14px;
    padding: 10px 10px 15px 10px;
    border-bottom: 1px dotted #2D3436;
}
.title-body-text {
    margin: 10px 10px 0 0;
}
/* 서브 내용*/
.title-body-sub {
    color: #6c6e6e;
    position: relative;
    padding-left: 14px;
}
/* 서브 내용 앞 - 표시*/
.title-body-sub a::before {
    content: "-";
    font-size: 15px;
    position: absolute;
    left: 5px;
}
/* 내용 헤드*/
.content.content-head {
    text-align: left !important;
    border-bottom: 1px solid #e6e7e7;
    font-size: 20px;
}
.content-head-text > i {
    padding: 0 10px 0 10px;
}
.content-head-text {
    margin: 10px 0;
}
.content-body-title h5{
	position: relative;
	padding-left:15px;
	font-size: 16px;
	margin: 15px 0 5px 0;
}

.content-body-title h5:before{
	content: " ▶ ";
    display: block;
    font-size: 10px;
    font-family: 'Glyphicons Halflings';
    color: #444;
    position: absolute;
    left: 0;
    top: 3px;
}
.content-body-text {
	font-size: 14px;
}
.info-list {
	padding: 0;
	margin: 0;
}
.info-list>li {
	list-style: none;
	padding-left: 15px;
	position: relative;
}
.info-list>li:before {
	content: " - ";
    display: block;
    font-size: 16px;
    color: #444;
    position: absolute;
    left: 5px;
    top: -2px;
}